@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 20px solid #01aa17;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
    font-family: "Pixelify Sans", sans-serif;
}

.player {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.spikes {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: spikes-animation 1.5s infinite linear;
}

.jump {
    animation: jump 500ms ease-in-out;
}

.clouds {
    position: absolute;
    top: 20px;
    width: 40%;
    animation: clouds-animation 8s infinite linear;
}

.game-over {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 500px;
}

.restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #beedff;
    border-radius: 10px;
    border: #e40013 solid 2px;
    gap: 20px;
}

p {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #e40013;
}

button {
    background-color: #0b89ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    color: #fff;
}

.score {
    font-size: 40px;
    position: absolute;
    right: 15px;
    color: #000000;
}

.hi-score {
    font-size: 40px;
    position: absolute;
    right: 200px;
    color: #555555;
}

button:hover {
    background-color: #053cd4;
}

@keyframes spikes-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    80% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes clouds-animation {
    from {
        right: -250px;
    }

    to {
        right: 100%;
    }
}